.aboutPage {
    svg {
                position: absolute;
                top: -180px;
                left: -80px;

                #Path-2 {
                    stroke: $accent;
                }
            }

    nav {
            justify-content: center;
            align-items: flex-start;
            min-height: 150px;

            ul {
                width: 50%;
                margin-top: 10px;
            }

            ul li {
                width: calc(100%/4);
                text-align: center;

                a {
                    padding: 15px;
                    @include fontSize(20)
                }

                #{$a-tags-hover} {
                    box-shadow: inset 0px -27px 0 0 rgba($accent,0.6);
                }
            }
        }

    h1 {
        margin-bottom: calc(5px + .5vw);
    }

    main {
        height: 70vh;
        position: relative;
        padding-top: 10vh;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;

            > img {
                max-width: 30%;
                border-radius: 50%;
            }
        }

        .aboutMeWording {
            max-width: 65%;

            p {
                margin-bottom: calc(15px + 1vw);
            }
        }
    }

    .socialContacts {

        i {
            font-size: 50px;
        }

        li:not(:last-of-type) {
            margin-right: calc(30px + .5vw);
        }

        li {
            #{$a-tags-hover} {
                color: $accent;
                filter: drop-shadow(2px 2px 2px rgba($black, 0.4));
            }
        }
    }
