


// body
body {
    font-family: "OpenDyslexic-Regular", sans-serif;
    color: $black;
    @include fontSize(18);
    background: $white;
    line-height: 1.6;
}

// anchor tag
a {
    color: $black;
}

// headers
h1 {
    text-transform: uppercase;
    font-size: calc(2.7rem + 1vw);
    letter-spacing: 2px;
}

// default flexed
nav, ul, footer {
    display: flex;
}

// svg + img

svg, img {
    max-width: 100%;
}

// wrapper
.wrapper {
    max-width: 1700px;
    width: 85%;
    margin: 0 auto;
}

.innerWrapper {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
    }