.landingPage {

    header {
        padding-top: 10px;
        min-height: 150px;
    }

    main {
        height: 75vh;
        min-height: 400px;

        svg {
            height: 55vh;
        }
    }

    nav {
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 5vw;
            a {
                background: $black;
                color: $white;
                padding: calc(3px + .5vw) calc(5px + .5vw);
                @include fontSize(25);
                text-transform: uppercase;
                letter-spacing: 1.2px;
                // @include anchorHover(white);
            }

            #{$a-tags-hover} {
                    color: $accent;
                }

            ul {
                flex-direction: column;
                justify-content: space-between;
                height: 50%;
            }

            ul:first-child li:nth-child(1),
            ul:last-child li:nth-child(2) {
                transform: rotate(20deg);
            }

            ul:first-child li:nth-child(2),
            ul:last-child li:nth-child(1) {
                transform: rotate(-20deg);
            }

            div {
                margin: 0 4.5vw;
                align-items: center;
            }
    }

        h1, h2 {
            text-align: center;
        }

        h1 {
            margin: 0 0 .5vw 0;
        }

        h2 {
            font-size: calc(1.8rem + .8vw);
        }

        footer {
            display: flex;
            justify-content: space-between;
            height: calc(100vh - (75vh + 150px));
            align-items: flex-end;
            padding-bottom: 10px;
        }
}