article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "OpenDyslexic-Regular";
  src: url(../../public/assets/font/OpenDyslexic2/OpenDyslexic-Regular.otf); }

html {
  font-size: 62.5%; }

body, h1, h2, ul, p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  display: inline-block; }

body {
  font-family: "OpenDyslexic-Regular", sans-serif;
  color: #0c0c0c;
  font-size: 18px;
  font-size: 1.8rem;
  background: #f2f2f2;
  line-height: 1.6; }

a {
  color: #0c0c0c; }

h1 {
  text-transform: uppercase;
  font-size: calc(2.7rem + 1vw);
  letter-spacing: 2px; }

nav, ul, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

svg, img {
  max-width: 100%; }

.wrapper {
  max-width: 1700px;
  width: 85%;
  margin: 0 auto; }

.innerWrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  80% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.fadeIn {
  -webkit-animation: fadeIn 0.8s ease-in 1 0.3s backwards;
          animation: fadeIn 0.8s ease-in 1 0.3s backwards; }

@-webkit-keyframes windowTransition {
  0% {
    right: 0; }
  100% {
    right: -100vw; } }

@keyframes windowTransition {
  0% {
    right: 0; }
  100% {
    right: -100vw; } }

.elementFun {
  -webkit-animation: windowTransition 1.3s ease-in forwards;
          animation: windowTransition 1.3s ease-in forwards;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: lightgrey;
  z-index: 10; }

@-webkit-keyframes lightbulbCoil {
  100% {
    stroke-dashoffset: 0; } }

@keyframes lightbulbCoil {
  100% {
    stroke-dashoffset: 0; } }

@-webkit-keyframes flickeringLight {
  0%, 25%, 50%, 70% {
    stroke: #0c0c0c;
    stroke-width: 2; }
  20%, 40%, 65%, 75%, 100% {
    stroke: #ffae42;
    stroke-width: 7; } }

@keyframes flickeringLight {
  0%, 25%, 50%, 70% {
    stroke: #0c0c0c;
    stroke-width: 2; }
  20%, 40%, 65%, 75%, 100% {
    stroke: #ffae42;
    stroke-width: 7; } }

.lightbulb-coil {
  stroke-dasharray: 730.0150146484375;
  stroke-dashoffset: 730.0150146484375;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2)) blur(0.8px);
          filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.2)) blur(0.8px);
  -webkit-animation: lightbulbCoil 1.8s linear .5s 1 forwards, flickeringLight 2s ease-in 3s 1 forwards;
          animation: lightbulbCoil 1.8s linear .5s 1 forwards, flickeringLight 2s ease-in 3s 1 forwards; }

/* main section of lightbulb */
@-webkit-keyframes lightbulbMain {
  100% {
    stroke-dashoffset: 0; } }
@keyframes lightbulbMain {
  100% {
    stroke-dashoffset: 0; } }

.lightbulb-main {
  stroke-dasharray: 1008.9489135742188;
  stroke-dashoffset: 1008.9489135742188;
  -webkit-animation: lightbulbMain 1.8s linear 0s 1 forwards;
          animation: lightbulbMain 1.8s linear 0s 1 forwards; }

/* bottom of lightbulb */
@-webkit-keyframes lightbulbBottom {
  100% {
    stroke-dashoffset: 0; } }
@keyframes lightbulbBottom {
  100% {
    stroke-dashoffset: 0; } }

.lightbulb-bottom {
  stroke-dasharray: 799.3607788085938;
  stroke-dashoffset: 799.3607788085938;
  -webkit-animation: lightbulbBottom 2s linear .5s 1 forwards;
          animation: lightbulbBottom 2s linear .5s 1 forwards; }

.red {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in; }

.landingPage header {
  padding-top: 10px;
  min-height: 150px; }

.landingPage main {
  height: 75vh;
  min-height: 400px; }
  .landingPage main svg {
    height: 55vh; }

.landingPage nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding-top: 5vw; }
  .landingPage nav a {
    background: #0c0c0c;
    color: #f2f2f2;
    padding: calc(3px + .5vw) calc(5px + .5vw);
    font-size: 25px;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.2px; }
  .landingPage nav a:active, .landingPage nav a:hover, .landingPage nav a:focus {
    color: #ffae42; }
  .landingPage nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 50%; }
  .landingPage nav ul:first-child li:nth-child(1),
  .landingPage nav ul:last-child li:nth-child(2) {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg); }
  .landingPage nav ul:first-child li:nth-child(2),
  .landingPage nav ul:last-child li:nth-child(1) {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg); }
  .landingPage nav div {
    margin: 0 4.5vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.landingPage h1, .landingPage h2 {
  text-align: center; }

.landingPage h1 {
  margin: 0 0 .5vw 0; }

.landingPage h2 {
  font-size: calc(1.8rem + .8vw); }

.landingPage footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: calc(100vh - (75vh + 150px));
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px; }

.aboutPage svg {
  position: absolute;
  top: -180px;
  left: -80px; }
  .aboutPage svg #Path-2 {
    stroke: #ffae42; }

.aboutPage nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 150px; }
  .aboutPage nav ul {
    width: 50%;
    margin-top: 10px; }
  .aboutPage nav ul li {
    width: calc(100%/4);
    text-align: center; }
    .aboutPage nav ul li a {
      padding: 15px;
      font-size: 20px;
      font-size: 2rem; }
    .aboutPage nav ul li a:active, .aboutPage nav ul li a:hover, .aboutPage nav ul li a:focus {
      -webkit-box-shadow: inset 0px -27px 0 0 rgba(255, 174, 66, 0.6);
              box-shadow: inset 0px -27px 0 0 rgba(255, 174, 66, 0.6); }

.aboutPage h1 {
  margin-bottom: calc(5px + .5vw); }

.aboutPage main {
  height: 70vh;
  position: relative;
  padding-top: 10vh; }

.aboutPage section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .aboutPage section > img {
    max-width: 30%;
    border-radius: 50%; }

.aboutPage .aboutMeWording {
  max-width: 65%; }
  .aboutPage .aboutMeWording p {
    margin-bottom: calc(15px + 1vw); }

.socialContacts i {
  font-size: 50px; }

.socialContacts li:not(:last-of-type) {
  margin-right: calc(30px + .5vw); }

.socialContacts li a:active, .socialContacts li a:hover, .socialContacts li a:focus {
  color: #ffae42;
  -webkit-filter: drop-shadow(2px 2px 2px rgba(12, 12, 12, 0.4));
          filter: drop-shadow(2px 2px 2px rgba(12, 12, 12, 0.4)); }

.contactPage section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contactPage section ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.contactPage ul, .contactPage form {
  width: 45%; }

.contactPage form {
  min-width: 400px; }

.contactPage input, .contactPage textarea, .contactPage button {
  display: block;
  width: 100%;
  border: none;
  background: none; }
